{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 img-responsive">
            <img id="background" src="{{ asset('img/background/bgDefault.jpg') }}" alt="background image">
        </div>
        <div class="col-12">
           <span class="material-icons"></span>

        </div>
        <div class="col-12 align-self-end">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                </a>
            </p>
        </div>
        <div class="col-12">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
