{% extends 'base.html.twig' %}

{% block title %}Hello ValidateTrickDeleteController!{% endblock %}

{% block header %}
    <h1>Confirmation de suppression</h1>
{% endblock %}

{% block section %}
    <div class="col">
        <p>Voulez-vous Effacer le trick séléctionné ? </p>
    </div>
    <div class="col">
        <a class="btn btn-success" href="{{ path('tricks_delete', {'id': id}) }}">Supprimer</a>
    </div>
    <div class="col">
        <a href="{{ path('index') }}" class="btn btn-danger">Annulation</a>
    </div>

{#    {{ form_widget(form.save, { 'label': 'Click me' }) }}#}
{% endblock %}
