{% extends 'base.html.twig' %}

{% block title %}Hello ValidateTrickDeleteController!{% endblock %}

{% block header %}
    <h1>Confirmation de suppression</h1>
{% endblock %}

{% block section %}
    <div class="col">
        <p>Voulez-vous Effacer le trick séléctionné ? </p>
    </div>
    <div class="col">
        <button type="button" class="btn btn-success">Délétion</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger">Annulation</button>
    </div>
{% endblock %}
